<h1>Find Feelings</h1>

<ul>
  <% @asks.each do |ask| %>
    <li>
      <%= link_to ask.title, ask %>
    </li>
  <% end %>
</ul>

<%= link_to "New Ask", new_ask_path %>

<% if @answer.present? %>
  <p><%= @answer %></p>
<% end %>